/blib/
*.bs
/.build/
_build/
Build
!Build/
Build.bat
cover_db/
*dbh*
/_eumm/
*.html
inc/
.last_cover_stats
/Makefile
/Makefile.old
MANIFEST
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
*.o
/pm_to_blib
*.tar.gz
*test.pl